<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - AppLayouts</title>
  @RenderSection("styles", required: false)
</head>

<body>
  <mdl-drawer-panel id="drawerPanel">

    <div class="nav" drawer>
      <!-- Nav Content -->
    </div>

    <mdl-header-panel class="main" main mode="waterfall">
      <!-- Main Toolbar -->
      <mdl-toolbar>
        <mdl-icon-button icon="menu" mdl-drawer-toggle></mdl-icon-button>
      </mdl-toolbar>

      <!-- Main Content -->
      <div class="content">
        @RenderBody()
      </div>

    </mdl-header-panel>

  </mdl-drawer-panel>
  @RenderSection("scripts", required: false)
</body>

</html>
